body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Make h2 stay at the top */
h2 {
    text-align: center;
    margin-top: 30px;
}

.container {
    background: white;
    padding: 25px 35px;
    width: 350px;
    margin: 40px auto;   /* removes flex and centers form */
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 15px;
}
